.places{
    max-width: 987px;
    padding-left: 148px;
    padding-top: 70px;
    
}

.places__content{
    display: grid;
    grid-template-columns: (1fr 1fr);
    grid-template-rows: (1fr 1fr 1fr 1fr 1fr 1fr);

}
.places__title{
    color: #FFFFFF;
    font-family: Inter;
font-weight: 900;
font-size: 72px;
line-height: 76px;
letter-spacing: 0%;
max-width: 460px;
grid-column: 1/2;
grid-row: 1/2;
}

.places__image{ 
    padding-bottom: 40px;
    width: 460px;
    max-height: 460px;
    grid-column: 1/2;
    grid-row: 2/3;
}

.places__image:hover{
    opacity: 50%;
}

.places__button{
    width: 289px;
    height: 33px;
    padding-top: 15px;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    color: #FFFFFF;
    font-family: Inter;
font-weight: 600;
text-align: center;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
opacity: 1;
border-radius: 4px;
gap: 10px;
grid-column: 1/2;
grid-row:3/4;

}

.places__button:hover{
    opacity: 25%;
}

.places__heading{
color: #FFFFFF;
font-family: Inter;
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 12%;
text-transform: uppercase;
grid-column: 2/3;
grid-row: 1/2;
max-width: 85.17px;
max-height: 15px;
padding-top: 150px;
padding-left: 30px;
opacity: 1;


}

.places__artist{
color: #FFFFFF;
max-width: 329px;
max-height: 22px;
opacity: 1;
padding-left: 30px;
padding-top: 150px;
font-family: Inter;
font-weight: 400;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%; 
grid-column: 2/3;
grid-row: 1/2;


}

.places__artists{
    color: #FFFFFF;
    max-width: 455.5px;
max-height: 22px;
padding-left: 30px;
opacity: 1;
padding-top: 175px;
font-family: Inter;
font-weight: 400;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%; 
grid-column: 2/3;
grid-row: 1/2;
}
.places__paragraph{
color: #FFFFFF;
max-width: 484px;
max-height: 203px;
opacity: 1;
padding-left: 30px;
font-family: Inter;
font-weight: 400;
font-size: 18px;
line-height: 163%;
letter-spacing: 0%;
grid-column: 2/3;
grid-row:2/3;


}
